.agree-box {
  width: 400px;
  height: 150px;
  margin:auto;
  /* margin: 96px 47px 124px 227px; */
  padding: 31.5px 40px 31.5px 40px;
  border-radius: 50px;
  border: solid 1px #fff;
  text-align: center;
}

.agree-text {
  width: 234px;
  height: 82px;
  margin:0 0 0 0;
  font-family: SegoeUI;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  /* text-align: center;
  vertical-align: middle; */
}

.case-box {
width: 400px;
height: 150px;
margin:auto;
/* margin: 96px 38.3px 124px; */
padding: 52px 40px 52px 40px;
border-radius: 50px;
border: solid 1px #dee5f8;
text-align: center;
}

.case-text{
  width: 234px;
  height: 41px;
  margin:auto;
  font-family: SegoeUI;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}

.upload-box {
width: 400px;
height: 150px;
margin:auto;
/* margin: 96px 226.8px 124px 37.8px; */
padding: 52px 40px;
border-radius: 50px;
border: solid 1px #dee5f8;
text-align: center;
}

.upload-text {
width: 128px;
height: 41px;
margin:auto;
font-family: SegoeUI;
font-size: 30px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: center;
}

.connect-square {
width: 54px;
height: 63px;
margin: auto 40px auto 40px;
/* margin: 137px 38.3px 165px 47px;
border: solid 1px #e2e2e2;
background-color: #e2e2e2; */
}

.agree-title {
  width: 600px;
  height: 54px;
  margin: 0 auto 15px auto;
  font-family: NanumSquare-Regular;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 54px;
  letter-spacing: normal;
  text-align: center;
  color: #4B64D4;
}

.agreement {
  width: 875px;
  height: 360px;
  margin: auto;
  padding: 20px 40px 20px 40px;
  border: solid 1px #707070;
  background-color: #fff;
}

.agreement-title {
  width: 400px;
  height: 27px;
  margin: 0;
  float: left;
  /* margin: 0 518px 6px 0; */
  font-family: NanumSquare-Regular;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 27px;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.agreement-contents {
  width: 750px;
  height: auto;
  display: flex;
  margin: 6px 10px 12px 0;
  font-family: NotoSansKR-Light;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  align-items: center;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.agree-button-container {
  width: 188px;
  height: 75px;
  margin: 20px auto;
  padding: 21px 69px;
  border-radius: 20px;
  border: solid 1px #4B64D4;
  background-color: #fff;
  font-family: NanumSquare-Regular;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: #4B64D4;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
}

.agree-button-container:hover {
  width: 188px;
  height: 75px;
  margin: 20px auto;
  padding: 21px 69px;
  border-radius: 20px;
  border: solid 1px #4B64D4;
  background-color: #4B64D4;
  font-family: NanumSquare-Regular;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
}

.select-case-text{
width: 1000px;
height: 60px;
/* margin: 0 237px 0 1px; */
margin: auto;
font-family: NanumSquare-Regular;
font-size: 45px;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: left;
font-weight: bolder;
color: #3F3F3F;
}

.select-case-content{
width: 1000px;
height: 82px;
/* margin: 60px 0 0; */
margin: auto;
font-family: NotoSansKR-Regular;
font-size: 15px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: left;
color: #3F3F3F;
}

.add-case-button{
width: 288px;
height: 80px;
/* margin: 31px 26.5px 62px 245px; */
margin: auto 0px auto auto;
padding: 17px;
text-align: center;
border-radius: 45px;
border: solid 1px #576DD4;
background-color: #576DD4;
text-align: center;
color: #fefefe;
font-family: NanumSquare-Regular;
font-size: 35px;
font-weight: bold;
font-stretch: normal;
font-style: normal; 
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal_title {
  width: 400px;
  height: 54px;
  margin: 10px auto;
  font-family: SegoeUI;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  }

  .case_name{
  width: 150px;
  height: 40px;
  margin: 9px 10px 0px 0;
  vertical-align: middle;
  font-family: SegoeUI;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  }

  .case_name_input {
  width: 500px;
  height: 57px;
  margin: 0px 10px 0px 0px;
  border-radius: 20px;
  border: solid 1px #707070;
  background-color: #fff;
  }

  .case_name_fixed {
    width: 500px;
    height: 57px;
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
    border: solid 1px #707070;
    background-color: #fff;
    line-height: 57px;
    vertical-align: middle;
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    }

  .case_description{
  width: 150px;
  height: 40px;
  margin: 27px 10px 27px 0;
  vertical-align: middle;
  font-family: SegoeUI;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  }

  .case_description_input{
  width: 500px;
  height: 57px;
  margin: 18px 10px 18px 0px;
  border-radius: 20px;
  border: solid 1px #707070;
  background-color: #fff;
  }

  .case_button{
    width: 160px;
    height: 61px;
    margin: 10px 200px;
    /* margin: 28px 265px 30px 101px; */
    padding: 10px 51px 11px;
    border-radius: 50px;
    border: solid 1px #707070;
    background-color: #3d7be6;
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fefefe;
  }


  .close_button{
    width: 20px;
    height: 20px;
    margin: 0 20px 0 515px;
    background-image: url('../assets/img/close_icon.png');
    background-size: 20px 20px;
    border: 0;
  }

  .close_button_img{
    width: 20px;
    height: 20px;
  }

  .table_style{
    height: auto;
    max-height: 800px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 18px;
    background-color: white;
  }

  .table{
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }

  .table_cell_left{
    text-align: center;
    background-color: #576DD4;
    border-top-left-radius: 18px;
  }

  .table_cell_right{
    text-align: center;
    background-color: #576DD4;
    border-top-right-radius: 18px;

  }

  .table_cell{
    text-align: center;
    background-color: #576DD4;

  }

  .table_head_typo{
    color:white;
    font-family: NanumSquare-Regular;
    text-align: center;
    font-weight: bolder;
  }

  .casepage_test_case_box{
    background-color: white;
    border-radius: 18px;
    font-family: NanumSquare-Regular;
    font-weight: bolder;
    float: left;
    width: 200px;
    height: 200px;
    margin-left: 5%;
    line-height: 200px;
    text-align: center;
  }