main {
  width: 1920px;
  height: 1080px;
  padding: 0 0 193px;
  background-color: #fff;
  /* float:left; */
}

.header  {
  width: auto;
  height: 100px;
  /* margin: 0 0 97px;
  padding: 33px 1567px 34px 45px; */
  /* border: solid 1px #707070; */
  box-shadow: 3px 3px #e2e2e2;
  background-color: #fff;
}

.JEBOBADA {
  width: 308px;
  height: 80px;
  margin: 30px 0 20px 50px;
  font-family: SegoeUI;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #3d7be6;
}

.flex-container-main {
  display: flex;
  height: auto;
  margin: 200px 0 0 0;
  /* margin:200px 200px 200px 200px; */
  justify-content: center;
}

.flex-container-first-box{
    display:flex;
    height: auto;
    margin: 25px auto;
}

.flex-container-agree{
  display: flex;
  height: auto;
  margin: 100px 150px 75px 150px;
}

.flex-container-first-box{
  display:flex;
  height: auto;
  margin: auto 25px auto 25px;
}

.flex-container-case-box{
  display:flex;
  height: auto;
  margin: 150px 100px 0 100px;
}

.flex-column-container{
    display:flex;
    flex-direction: column;
    height: auto;
    margin: 0 200px 0 200px;
    z-index: 1;
}

.flex-column-container-main{
  display:flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  z-index: 1;
}

.flex-column-container-agree{
  display:flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  z-index: 1;
}

.flex-column-container-case{
  display:flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  z-index: 1;
}

.flex-column-container-upload{
  display:flex;
  flex-direction: column;
  height: auto;
  margin: 150px 200px 0 200px;
}

.flex-column-content-container{
  display:flex;
  flex-direction: column;
  margin: 50px 0 0 0;
  height: auto;
  z-index: 1;
  align-items: left;
  font-size: 0px;
}

.first_box {
  width: 680px;
  height: 543px;
  margin: 0 20px 0 20px;
  /* margin: 99px 0 0;
  padding: 118px 54px 100px 39px; */
  border-radius: 50px;
  border: solid 1px #e2e2e2;
  background-color: #fff;
  z-index: 1;
  display: flex;
  
}

.second_box{
width: 450px;
height: 543px;
margin: 0 20px 0 20px;
/* margin: 197px 20px 0;
padding: 151px 68px 79px; */
border-radius: 50px;
border: solid 1px #e2e2e2;
background-color: #fff;
z-index: 2;
display: flex;
}

.third_box{
width: 450px;
height: 543px;
margin: 0 20px 0 20px;
/* margin: 100px 0 0;
padding: 151px 59px 78px 69px; */
border-radius: 50px;
border: solid 1px #e2e2e2;
background-color: #fff;
z-index: 2;
display: flex;

}

.first_num {
width: 86px;
height: 200px;
margin: -200px 0 0 20px;
font-family: SegoeUI;
font-size: 150px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: left;
color: #3d7be6;
display:flex;
/* z-index: 1; */
}

.second_num {
width: 86px;
height: 200px;
margin: -250px 0 0 20px;
/* margin: 97px 314px 443px 40px; */
font-family: SegoeUI;
font-size: 150px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: left;
color: #3d7be6;
display:flex;
}

.third_num{
width: 86px;
height: 200px;
margin: -250px 0 0 20px;
font-family: SegoeUI;
font-size: 150px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: left;
color: #3d7be6;
display:flex;
}

.first_title {
  width: auto;
  height: auto;
  margin: 0 0 0 0;
  /* margin: 0 387px 65px 0; */
  font-family: SegoeUI;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.second_title{
/* width: 300px;
height: 67px; */
width: auto;
height: auto;
margin: 0;
/* margin: 0 11px 46px; */
font-family: SegoeUI;
font-size: 50px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.34;
letter-spacing: normal;
text-align: center;
color: #000;
}

.third_title{
  /* width: 200px;
  height: 66px; */
  width: auto;
  height: auto;
  margin: 0;
  /* margin: 0 41px 47px 31px; */
  font-family: SegoeUI;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}


.upload_content{
/* width: 400px;
height: 60px; */
width: 365px;
height: auto;
margin: auto auto 50px auto;
font-family: SegoeUI;
font-size: 15px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: center;
color: #000;
}

.download_content{
/* width: 500px;
height: 60px; */
width: 450px;
height: auto;
margin: 25px;
font-family: SegoeUI;
font-size: 15px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: left;
color: #000;
}

.upload_image{
width: 75px;
height: 75px;
margin: 25px;
z-index: 2;
}

.download_image{
width: 75px;
height: 75px;
margin: 25px;
}

.second_content{
width: 300px;
height: 80px;
margin: 50px 0 50px;
font-family: SegoeUI;
font-size: 15px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: center;
color: #707070;
}

.third_content{
width: 300px;
height: 80px;
margin: 50px 0 50px;
font-family: SegoeUI;
font-size: 15px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: center;
color: #707070;
}

.go_button{
width: 44px;
height: 40px;
font-family: SegoeUI;
font-size: 30px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: center;
color: #fff;
}

.go_button_box1{
width: 200px;
height: 40px;
/* margin-top: 62px; */
margin: auto;
padding: 16px 78px 14px;
border-radius: 30px;
background-color: #3d7be6;

}

.go_button_box2{
  align-items: center;
width: 250px;
height: 40px;
margin: auto 10px;
/* margin: 51px 41px 0 31px; */
border-radius: 20px;
background-color: #fff;
border: solid 1.5px #4B64D4;
font-family: NanumSquare-Regular;
font-size: 15px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 40px;
letter-spacing: normal;
text-align: center;
color: #4B64D4;
transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
}

.go_button_box2:hover{
  align-items: center;
  width: 250px;
  height: 40px;
  margin: auto 10px;
  /* margin: 51px 41px 0 31px; */
  border-radius: 20px;
  background-color: #4B64D4;
  border: solid 1.5px #4B64D4;
  font-family: NanumSquare-Regular;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 40px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;  
}