    
.component_design{    
    background: white;
    width: 95%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.63); /* 그림자 */
    margin: 100px auto;
    height: auto;    
}
.audio_contents_design{
    margin: 15px;
}
.image_contents_design{
    margin-left: 100px auto;
}
.flex-container {
    display: flex;
    height: auto;
    margin:5px,5px,5px,5px;
}

.flex-child-left {
    flex: 1;
    margin: 200px 100px 0 200px
}  

.flex-child-right {
    flex: 1;
    margin: 200px 200px 0 100px
}

.flex-child:first-child {
    flex: 1;
}

.button_postview{
    display: flex;
    height: 50px;
    width: 200px;
    padding: 10px;
    background-color: #3d7be6;
    border-radius: 10px;
    border: solid 1px #e2e2e2;
    text-align: center;
    margin: 20px;
    color: #fff;
    justify-content: center;
    font-family: SegoeUI;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
}