.upload_title {
    width: 1120px;
    height: 44px;
    margin: auto auto 20px auto;
    font-family: "NanumSquare-Regular";
    font-size: 40px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    display: flex;
    align-items:flex-start;
    color: #3f3f3f;
  }

  .upload_subtitle {
    width: 1120px;
    height: 22px;
    margin: auto auto 20px auto;
    font-family: "NotoSansKR-Light";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #3f3f3f;
  }

  /* .upload_box  {
    width: 1140px;
    height: 539px;
    margin: auto;
    padding: 33px 44px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 7px 29px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border-radius: 10px;
  }

  .upload-button-container {
    width: 100px;
    height: 50px;
    margin-top: 0.7%;
    margin-right: 11%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: solid 1px #0753e9;
    background-color: #0753e9;
    font-family: "NotoSansKR-Regular";
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: normal;
    justify-content: center;
    color: #fff;
  } */

  /* .upload-input-text {
    width: 400px;
    height: 22px;
    margin: 25px 104px 10px 10px;
    font-family: "NotoSansKR-Regular";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #3f3f3f;
  }

  .upload-input-box {
    width: 931px;
    height: 55px;
    padding: 10px 10px 10px 10px;
    margin: auto;
    border-radius: 10px;
    border: solid 1px #707070;
    background-color: #fff;
  }

  .upload-input-desc-box {
    width: 931px;
    height: 181px;
    margin: 10px 9px 10px 4px;
    padding: 10px 10px 10px 10px;

    border-radius: 10px;
    border: solid 1px #707070;
    background-color: #fff;
    
  } */

  /* .upload-modal-button {
    width: 130px;
    height: 40px;
    margin:auto;
    border-radius: 10px;
    border: solid 1px #4B64D4;
    background-color: #fff;
    font-family: "NotoSansKR-Regular";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 40px;
    letter-spacing: normal;
    text-align: center;
    color: #0753e9;
  } */

  

  .flex-container-type-modal {
    display: flex;
    width: 600px;
    height: auto;
    margin: auto;
}


  

  /* .flex-search-box{
    display: flex;
    height: auto;
    width: 1442px;
    margin: auto;
  }
  .search-box{
    width: 400px;
    height: 50px;
    
    border-radius: 10px;
    border: solid 2px #4B64D4;
    background-color: #fff;
    color: #000;
    font-family: "NanumSquare-Regular";
    font-size: 15px;
    font-stretch: normal;
    font-style: normal; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .search-text-box{
      width: 320px;
      height: 40px;
      margin: 5px 10px;
    }
    .search-text-box:focus { 
      outline: none; 
    }

    .search_button{
      width: 30px;
      height: 30px;
      margin: 0px 0 5px 10px;
      background-image: url('../assets/img/search.png');
      background-size: 30px 30px;
      border: 0;
      vertical-align: middle;

    } */

  /* .react-tag-input {
    width: 931px;
    height: 55px;
    margin: 10px 19px 35px 4px;
    margin: auto;
    border-radius: 10px;
    border: solid 1px #707070;
    background-color: #fff;
    font-family: "NotoSansKR-Regular";
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 10px;
    letter-spacing: normal;
    text-align: left;
    color: #3f3f3f;
  } */