.edit_text_title{
    font-family: NanumSquare-Regular;
    font-weight: bolder;
}

.stt_file_name{
    font-family: NanumSquare-Regular;
    color: #4b64d4;
    margin:15px
}

.stt_speaker{
    font-family: NanumSquare-Regular;
    color: #4b64d4;
}

.stt_content{
    font-family: NotoSansKR-Light;
    margin:15px
}