.yoon_evidenceDetail-container{
    background-color: white;
    width:75%;
    display: inline-block;
    padding:3%;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.yoon_evidenceDetail-title{
    font-family: NanumSquare-ExtraBold;
    font-size:52px;
    color: #294379;
}

.yoon_evidenceDetail-tilte-desc{
    font-family: NotoSansKR-Light;
    font-size :22px;
    font-weight: bolder;
}

.yoon_evidenceDetail-filename{
    font-family: NanumSquare-ExtraBold;
    font-size: 28px;
}

.yoon_evidenceDetail-filename-background{
    font-family: NanumSquare-ExtraBold;
    font-size: 28px;
    background-color:#DAE3F3;
    border-radius: 10px;
    padding:1%;
}

.yoon_evidenceDetail-filename-ismain{
    font-family: NotoSansKR-Light;
    font-size:26px;
    color:red;
    font-weight: bolder;
}

.yoon_evidenceDetail-info{
    font-family: NanumSquare-Regular;
    font-size: 28px;
    color: #294379;
    font-weight: bolder;
}
.yoon_evidenceDetail-infodesc{
    font-family: NotoSansKR-Light;
    font-size: 28px;
    font-weight: bolder;
}

/* .yoon_evidenceDetail-imageMetacontainer{
    display: flex;    
} */

.yoon_evidenceDetail-image{
    border: 3px solid #294379;
    /* margin:auto; */
    width: 50%;
    height:398px;
    display:flex;
    /* max-width: 569px; */
    justify-content: center;
    align-items: center;
}

.yoon-flex-container-with-hy{
    display: flex;
    justify-content: center;
    align-items: center;

}

.yoon-table-style-with-hy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.yoon_evidenceDetail-meta{
    height: auto;
}

.yoon_evidenceDetail-tbody{
    width: 130%;
}

.yoon_evidenceDetail-tablecell{
    border: 1px solid #B3B3B3;
    font-family: NotoSansKR-Regular;
    font-size: 20px;
    padding: 3%;
}

.yoon_evidenceDetail-desc{
    font-family: NanumSquare-ExtraBold;
    font-size: 30px;
    color: #294379;
}

.yoon_evidenceDetail-desc-textbox{
    border: 2px solid rgb(231, 230, 230);
    word-break: break-all;
    font-family: NotoSansKR-Light;
    padding: 2%;
    margin-top: 1%;
    font-size: 21px;
}
.yoon_evidenceDetail-desc-edittextbox{
    margin-top:1%;    
}

.yoon_evidenceDetail-checked-stt-container{
    border:1px solid;
    display: flex;
    align-items: center;
    padding:3%;
    min-height: 400px;
}

.yoon_evidenceDetail-check-message-button{
    border:2px dashed;
    width:35%;
    font-family: NotoSansKR-Regular;
    border-color: #A5A5A5;
    color:#A5A5A5;
    margin: auto;
    font-size:  25px;
    padding:1.5%;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out
}

.yoon_evidenceDetail-check-message-button:hover{
    border:2px dashed;
    width:35%;
    font-family: NotoSansKR-Regular;
    border-color: #A5A5A5;
    background-color: #A5A5A5;
    color:white;
    margin: auto;
    font-size:  25px;
    padding:1.5%;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out,color 0.3s ease-in-out
}

.yoon_evidenceDetail-stt{
    margin: 20px;
}

.yoon_evidenceDetail-sttspeaker{
    font-family: NanumSquare-Regular;
    font-size:20px;
    font-weight: bolder;
}

.yoon_evidenceDetail-sttsentence{
    font-family: NotoSansKR-Light;
    font-size:20px;
    font-weight: bolder;
}

.yoon_evidenceDetail-sttmodal-title{
    font-family: NanumSquare-Bold;
    font-size: 37px;
    color: #294379;
}

.yoon_evidenceDetail-tooltiptext{
    font-family: NanumSquare-Bold;
    font-size:21px;
}

.yoon_evidenceDetail-tooltipicon{
    margin-left:"10%"
}

.yoon_evidenceDetail-artifactanalysizetext{
    font-family: NotoSansKR-Light;
    font-size: 18px;
}