.yoon_recordEvidence-table-header{
    background-color: #294379;
}

.yoon_recordEvidence-table-header-text{
    color:white;
    font-family: NanumSquare-Regular;
    font-size:22px;
}

.yoon_recordEvidence-table-body-text{
    font-family: NotoSansKR-Regular;
    font-size:20px;
}

.yoon_recordEvidence-res-table{
    width:100%
}

.yoon_recordEvidence-res-table-header{
    background-color: #294379;
    width: 15%;
}

.yoon_recordEvidence-res-table-header-text{
    color:white;
    font-family: NanumSquare-Regular;
    font-size:15px;
}

.yoon_recordEvidence-res-table-body{
    max-width:1px;
}

.yoon_recordEvidence-res-table-body-text{
    font-family: NotoSansKR-Regular;
    font-size:18px;
    word-break: break-all;
}