.yoon_recordEvidence-table-header{
    background-color: #294379;
}

.yoon_recordEvidence-table-header-text{
    color:white;
    font-family: NanumSquare-Regular;
    font-size:22px;
}

.yoon_recordEvidence-table-body-text{
    font-family: NotoSansKR-Regular;
    font-size:20px;
}